body
{
    background: black;
    color: rgb(253, 0, 127);
}
{
    color: rgb(241, 11, 222);
    text-align: center;
    font-family:"Arial"
    font-size: 500px;
    margin: 10;
    padding: 20;
}

#cabecera
{
  background: #9c397b;
  box-shadow: 0px 2px 50px 0px
  rgba(red, rgb(66, 192, 66), blue, alpha);
  color: aliceblue;
  font-weight: bold;
  margin-block-end: 0cm;
  padding:10.5mm ;
} 
#cabecera #logo  
{
    width: 300px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 2.8em;
}
#container
{
    width: 80%;
    padding: 30;
    text-align: left;
    border: 1px solid darkorange;
    margin: 30 auto;
 }
#container height: 1px;
{
    font-size: 20px;

}  
#post
{
    background: #080808;
    padding: 1em;
}